{% extends 'base.html.twig' %}
{% block body %}
<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="{{ app.url_generator.generate('index') }}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="stafflist.php">Staff List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="profile.php">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="payroll.php">Payroll</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{{ app.url_generator.generate('login') }}">Login</a>
    </li>
</ul>
<div class="row justify-content-center">
    <div class="col col-lg-4 col-sm-8">
        <h2>Login</h2>
        <form action="{{ app.url_generator.generate('actionlogin') }}" method="POST">
            <div class="form-group">
                <label for="usernmame">Username</label>
                <input type="text" name="username" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
            </div>
            <button type="submit" name="type" value="staff" class="btn btn-primary">Staff login</button>
            <button type="submit" name="type" value="admin" class="btn btn-primary">Admin login</button>
        </form>
    </div>
</div>

{% endblock %}
